<view class="container">
  <swiper
    interval="{{0}}"
    current="{{carouselCurrentIdx}}"
    onChange="manageCarouselIdx"
  >
    <swiper-item >
      <view class="swiper-item">
        <tutorial-step slot="step0" imagePath="/assets/images/onboarding_step1.svg">
          <view slot="title">{{ i18n.onboarding.step1.title }}</view>
          <view slot="description">{{ i18n.onboarding.step1.description }}</view>
        </tutorial-step>
      </view>
    </swiper-item>
    <swiper-item>
      <view class="swiper-item">
        <tutorial-step slot="step1" imagePath="/assets/images/onboarding_step2.svg">
          <view slot="title">{{ i18n.onboarding.step2.title }}</view>
          <view slot="description">
            <text decode="true" class="tutorial-step-description">
              {{ i18n.onboarding.step2.descriptionPart1 }}
              <text class="bold">{{ i18n.onboarding.step2.descriptionPart2_bold }}</text>
              {{ i18n.onboarding.step2.descriptionPart3 }}
              <text class="bold">{{ onBoardAmount }}</text>
              {{ i18n.onboarding.step2.descriptionPart5 }}
            </text>
          </view>
        </tutorial-step>
      </view>
    </swiper-item>
  </swiper>
  <view class="stepper-container">
    <view class='tutorial__bullets'>
      <view class="tutorial__bullet {{ 0 == `${carouselCurrentIdx}` ? 'selected' : '' }}" />
      <view class="tutorial__bullet {{ 1 == `${carouselCurrentIdx}` ? 'selected' : '' }}" />
    </view>
  </view>
  <view style="height:10vh; padding: 10px;">
    <m-button onTap="handleFinishOnboarding">
      {{ buttonLabel }}
    </m-button>
  </view>
</view>