<view a:if="{{ sections.length || isLoading }}" class="mb-16">
  <list>
    <block a:if="{{ isLoading }}">
      <view
        class="mx-16 mb-16 mt-16"
        style="display: flex; flex-direction: row; min-height: 20px;"
        slot="header"
      >
      </view>
      <block>
        <section-tile>
          <m-shimmer slot="trailing-title" style="height: 14px; width: 80px;" />
          <m-shimmer slot="trailing-description" class="mt-6" style="height: 14px; width: 110px;" />
          <m-shimmer slot="leading-title" style="height: 14px; width: 120px;" />
          <m-shimmer slot="leading-description" class="mt-6" style="height: 14px; width: 80px;" />
        </section-tile>
        <m-divider/>
      </block>
    </block>
    <block a:else>
      <block a:for="{{ sections }}" a:for-index="id" a:for-item="section">
        <view
          class="mx-16 mb-16 mt-16"
          style={{ section.titleStyle || "display: flex; flex-direction: row; min-height: 20px;"}}
          slot="header"
        >
          <view class="m-title mr-4">{{ section.title }}</view>
          <text
            a:if="{{ section.showSectionButton }}"
            class="section-button"
            onTap="onSectionButtonClick"
            data-value="{{ id }}"
          >
            {{ section.sectionButtonLabel || 'See all' }}
          </text>
        </view>
        <block a:for="{{ section.data }}" a:for-index="id_row" a:for-item="data">
          <section-tile class="row-card" onTap="onRowClick" value="{{ id }}_{{ id_row }}">
            <view a:if="{{ data.leftTitle }}" slot="trailing-title" class="m-body left-title">
              {{ data.leftTitle || '' }}
            </view>
            <view
              a:if="{{ data.leftDescription }}"
              slot="trailing-description"
              class="left-description"
            >
              {{ data.leftDescription || '' }}
            </view>
            <view a:if="{{ data.rightTitle }}" slot="leading-title" class="m-title right-title">
              {{ data.rightTitle || '' }}
            </view>
            <view
              a:if="{{ data.rightDescription }}"
              slot="leading-icon"
              class="m-body mt-6 caption right-description"
            >
              {{ data.rightDescription || '' }}
            </view>

            <view
              a:if="{{ data.rightIcon }}"
              slot="leading-icon"
              class="m-body mt-6 caption right-icon"
            >
              <m-cell-icon w="24" h="24" class="mr-16 ">
                <m-icon src="/assets/icons/si_tick.svg" />
              </m-cell-icon>
            </view>


          </section-tile>
          <m-divider/>
        </block>
      </block>
    </block>
  </list>
</view>
<view a:else class="list-empty">
  <image style="height: 192rpx" src="{{ emptyIcon }}" />
  <text class="empty-title">{{ emptyTitle }}</text>
</view>