<view class="container">
  <view class="body">
    <view class="card">

      <view a:if="{{ isLoading }}" class="">
        <m-shimmer class="button-shimmer" />
        <m-shimmer class="button-shimmer" />
      </view>
      <view a:if="{{ !isLoading }}" class="content">
        <labeled-list-row
          label="{{ i18n.selectPackageDuration.currentPackage }}"
          value="{{ currentPackageName }}"
        />
        <m-cell
          onTap="openSheet"
          value="{{selectedPackage.package_name}}"
          class="select-package-button"
        >

          <m-cell-content>
            <m-cell-desc class="select-package-text">
              {{selectedPackage.package_name}}
            </m-cell-desc>
          </m-cell-content>
          <m-cell-icon w="24" h="24" class="mr-16 {{leftIconWrapperExtraClass}}">
            <m-icon src="/assets/icons/si_chevron_down.svg" />
          </m-cell-icon>
        </m-cell>
        <m-card-content class="radio-content">
        <view class="radio-label">
          {{ i18n.selectPackageDuration.radioLabel }}
        </view>
        <view class="radio">
          <radio-group class="radio-group" onChange="onRadioChange">
            <label a:for="{{packageDurations}}" class="label-row-wrapper">
              <radio value="{{item.value}}" checked="{{item.checked}}" />{{item.name}}
            </label>
          </radio-group>
        </view>
      </m-card-content>
      </view>

      <view slot="action" class="action-section m-flex m-flex-column p-16">
        <view a:if="{{ !(isLoading) }}">
          <m-button onTap="onContinue" loading="{{isLoadingPaymentPrevalidation}}">
            {{ i18n.confirmCardForPayment.primaryButton}}
          </m-button>
        </view>
        <view a:if="{{ isLoading }}">
          <m-shimmer class="button-shimmer" />
        </view>
      </view>
    </view>
  </view>

  <m-sheet ref="saveSheetRef" swipe roundedTop>
    <m-card class="bottom-sheet-card">
      <view class="dash" />
      <m-card-content class="bottom-sheet-title-wrapper">
        <view class="bottom-sheet-title" style="font-weight: 700; font-family: VodafoneRg-Regular;">
          {{ i18n.alterPackage.bottomSheetTitle }}
        </view>
      </m-card-content>
      <m-card-content>
        <sectioned-list sections="{{ sections }}" />
      </m-card-content>
    </m-card>
  </m-sheet>
</view>
